*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-face */
.old-standard-tt {
    font-family: 'Old Standard TT', serif;
    font-weight: normal;
    font-style: normal;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 300;
    color: #212322;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    line-height: normal;
}

/* Navigation */
.nav {
    display: flex;
    font-size: 20px;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #EBE3D7;
    z-index: 999;
}

.menu-logo,
.booking {
    margin: 0 90px;
}

.menu-list ul {
    list-style: none;
    display: flex;
    gap: 220px;
}

.menu-list li a {
    position: relative;
    text-decoration: none;
    text-align: center;
    color: #212322;
    transition: all 0.5s ease;
}

.menu-logo img {
    height: 80px;
    width: auto;
}

/* Đường gạch chân */
.menu-list li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom:  -3px;
    width: 0;
    height: 2px;
    background-color: #C6AA76;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.menu-list li a:hover {
    color: #C6AA76;
    font-weight: 400;
}

/* Gạch xuất hiện */
.menu-list li a:hover::after {
    width: 150px;
}

.booking {
    display: flex;
    align-items: center;
}

.reserve-button {
    text-decoration: none;
    margin-right: 50px;
    padding: 0 38px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    color: #fff;
    background-color: #212322;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserve-button:hover {
    color: #212322;
    background-color: #9B8D5F;
}

.icons {
    display: flex;
    align-items: center;
}

.nav .fa-bars {
    display: none;
}

/* Banner */
.banner {
    display: grid;
    place-items: center;
    position: relative;
}

.banner img{
    width: 100%;
}

.banner h1 {
    font-size: 60px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    top: 41%;
}

.banner p {
    font-family: 'Old Standard TT', serif;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    text-transform: capitalize;
    text-align: center;
    bottom: 42%;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 880px;
}

.intro h2 {
    font-size: 23px;
    font-weight: bold;
    color: #9B8D5F;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;
    margin-top: 50px;
}

.intro p {
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.70);
    width: 990px;
    text-align: center;
    line-height: normal;
    margin-top: 15px;
}

.images {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 45px;
}

/* Information */
.dining img {
    width: 100%;
    height: auto;
}

.dining-layout,
.dining-layout-reverse {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 880px;
    gap: 80px;
    padding: 260px;
}

.dining-layout {
    background-color: rgba(235, 227, 215, 0.33);
}

.dining-text h3 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 20px;
    position: relative;
    line-height: normal;
}

.dining-text p {
    color: #212322;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 30px;
    line-height: 30px;
    width: 440px;
}

.dining-text i {
    color: #9B8D5F;
    font-size: 24px;
    margin-right: 15px;
}

.dining-text h3::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    left: 0;
    bottom: -7px;
    background-color: rgba(33, 35, 34, 0.30);
    border-radius: 2px;
}

.dining-text button{
    font-family: 'Old Standard TT', serif;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    width: 200px;
    height: 35px;
    align-items: center;
    justify-content: center;
    color: #9B8D5F;
    background-color: transparent;
    border: 1px solid #9B8D5F;
    border-radius: 5px;
    cursor: pointer;
}

.dining-text button:hover {
    color: #fff;
    background-color: #9B8D5F;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    height: 400px;
    background-color: #EBE3D7;
    padding: 120px 0;
}

.footer h3 {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 30px;
}

.footer p {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 20px;
}


.footer a {
    font-size: 16px;
    display: block;
    color: #212322;
    text-decoration: none;
    margin-bottom: 20px;
}

.footer .fa-brands {
    font-size: 40px;
}
