* {
    margin: 0; 
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
h1 {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 134px;
}
h2 {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
}
.language-selection {
    text-align: right;
    font-size: 1em;
    display: block;
}
nav.top-page {
    text-align: center;
    text-decoration: none;
    background-image: url("../images/homepage/home_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    background-color: #EBE3D7;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
}

.language-style {
    background: transparent;
    border: 0;
}

.phrase {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    display: flex; /*put all in a row*/
    justify-content: space-around; /*add space between*/
}

.room-type {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2em;
}

/*font family*/
.old-standard-tt {
  font-family: "Old Standard TT", serif;
  font-weight: normal;
  font-style: normal;
}

.roboto-standard {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}