* {
    margin: 0; 
    padding: 0;
    background-color: #F5F0EB;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
h1 {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: clamp(1rem, 3vw, 1.8rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 12vh;
}
h2 {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: clamp(0.68rem, 2.5vw, 1.35rem);
}
.language-selection {
    text-align: right;
    font-size: 1em;
    display: block;
    background-color: #EBE3D7;
}
nav.top-page {
    text-align: center;
    text-decoration: none;
    background-image: url("../../images/homepage/home_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5vh;
    background-color: #EBE3D7;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5vw;
}
.language-style {
    background: transparent;
    border: 0;
}
.phase ul {
    color: black;
    list-style: none;
    font-size: clamp(0.6rem, 2.8vw, 1.11rem);
    text-decoration: underline;
    display: flex;
    background-color: #FAF8F5;
    justify-content: center;
    height: 5vh;
    align-items: center;
    gap: 1vw;
}
.phase li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.upcoming__phase {
    opacity: 0.5;
}
.phase li:nth-child(even) {
  width: 40px;
  height: 1px;
  background-color: #CDCFCE;
}
.room-type {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2em;
}
.page__detail {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-self: center;
    width: 70%;
    height: 82vh;
}
.step__detail {
    display: grid;
    gap: 1vh;
}
.hotel > button {
    display: flex;
    border-color: #212322;
    padding: 1.8vh;
    border-radius: 1vh;
    justify-content: space-between;
}
.step__detail img {
    max-width: 1vw;
    height: auto;
}
.button__info {
    justify-items: baseline;
}
/* font family */
.old-standard-tt {
  font-family: "Old Standard TT", serif;
  font-weight: normal;
  font-style: normal;
}
.roboto-standard {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}