* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
h1 {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: clamp(1rem, 3vw, 1.8rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4vh;
  margin-bottom: 10vh;
}
h2 {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-size: clamp(0.68rem, 2.5vw, 1.35rem);
}
.language-selection {
  text-align: right;
  font-size: 1em;
  display: block;
}
nav.top-page {
  text-align: center;
  text-decoration: none;
  background-image: url("../../images/homepage/home_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5vh;
  background-color: #ebe3d7;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 5vw;
}
.language-style {
  background: transparent;
  border: 0;
}

.phase {
  display: flex;
  justify-content: center;
  background-color: #faf8f5;
}
.phase ul {
  color: black;
  list-style: none;
  font-size: clamp(0.6rem, 2.8vw, 1.11rem);
  text-decoration: underline;
  display: flex;
  justify-content: center;
  height: 5vh;
  align-items: center;
  gap: 1vw;
}

.upcoming__phase {
  opacity: 0.5;
}
.phase li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.phase li:nth-child(even) {
  width: 40px;
  height: 1px;
  background-color: #cdcfce;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}



.detail_box {
  flex: 3;
  min-width: 300px;
  border-right: 1px solid #eee;
  padding-right: 30px;
}


.detail_box h2 {
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 20px;
  color: #1a1a1a;
}
.detail_box p {
  font-size : 15px;
  margin-bottom: 20px; 
}
.input-group {

  margin-bottom: 20px;
}

.input-group h2 {
  font-size : 20px;
  margin-bottom: 20px; 
}

.radio-group {
  display: flex;
  gap: 25px; 
  align-items: center;
}

.radio-group input[type="radio"] {
  width: 20px;  
  height: 20px;
  accent-color: #000; 
  cursor: pointer;
}

.radio-group label {
  font-size: 18px; 
  display: flex;
  align-items: center;
  gap: 6px; 
}


.input-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
}


.input-group label {
  margin-bottom: 10px;
}

.input-group input {
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #999;
}

.input-group.small {
  flex: 1;
}

.input-group.large {
  flex: 3; 
  margin-bottom: 10px;
}

.input-group input:not([type="radio"]) {
  border: none;
  border-bottom: 1px solid #999;
  background: transparent;
  outline: none;
  padding: 6px 0;
  font-size: 15px;
  font-weight: 300;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}


.input-group select {
  border: none;
  border-bottom: 1px solid #999;
  background: transparent;
  outline: none;
  padding: 6px 0;
  font-size: 15px;
  font-weight: 300;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  padding-top: 5px;
}


input:focus {
  outline: none;           
  border-bottom: 2px solid #000;
}



.checkbox-group label {
  display: block;
  font-size: 15px;
  margin-bottom: 20px;
  color: #444;
}

.checkbox-group a {
  color: #0066cc;
  text-decoration: underline;
}
.subtext {
  display: block;   
  margin-left: 25px; 
  font-size: 14px;
  color: #555;
  margin-top: 15px;
  margin-bottom: 20px;
}

.continue-btn {
  width: 100%;
  background-color: #000;
  color: white;
  padding: 14px;
  font-size: 13px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}


.stay_box {
  flex: 1;
  min-width: 300px;
  padding-left: 10px;
  background-color: #FAF8F5;
}

.stay_box h2 {
    font-size: clamp(0.75rem, 2.5vw, 1.55rem);
    margin-top: 2vh;
    text-align: center;
    font-weight: 400;
}
.stay-box-detail {
  font-size: clamp(0.7rem, 2vw, 0.75rem);
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
  margin-bottom: 3vh;
}
.stay-box-detail > img {
  max-width: 1vw;
  max-height: 1vw;
  margin-right: 0.7vw;
}
.stay-box-image > img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  padding-bottom: 1vh;
}

.stay_box p {
    font-size: clamp(0.5rem, 2vw, 0.78rem);
    font-weight: 200;
    margin-top: 1vh;
}

/*font family*/

.roboto-standard {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.room {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3vw;
  max-width: 53vw;
}


