html,
body {
    font-family: 'Old Standard TT', sans-serif;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* *{box-sizing: border-box;} */

div,
p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
} */

nav {
    position: sticky;
    top: 0;
    /* z-index: 1000; */
    width: 100vw;
    height: 8vh;
    background-color: #EBE3D7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
}


nav a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-weight: lighter;
    align-items: center;
    position: relative;
}

nav a img {
    width: auto;
    max-height: 8vh;
    object-fit: contain;
    padding-left: 10vh;
}

nav a img:hover {
    text-decoration: none;
}

nav a:hover {
    color: #9B8D5F;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #C6AA76;
    /* Light blue underline */

    /* Initial state: scaled down to 0 */
    transform: scaleX(0);
    transform-origin: center;
    /* Animation originates from the center */

    /* Smooth transition for the animation */
    transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-item:hover::after {
    transform: scaleX(2);
}

/* nav a:hover{
    text-decoration: underline;
    color: #9B8D5F;
} */
.reserve_box {
    border: 2px solid black;
    color: white;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    text-decoration: none;
}

.lang_select {
    padding-right: 10vh;
}

select {
    background-color: #EBE3D7;
    border: none;
}

.scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 92vh;
}

section {
    height: 92vh;
    width: 100vw;
    scroll-snap-align: start;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content-box {
    max-width: 100vw;
    display: block;
    font-weight: lighter;
    font-size: larger;
    font-family: "Old Standard TT";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

.content-box img {
    width: 45vw;
    height: 50vh;
}

.align-text {
    width: 20vw;
    margin: 0;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-text a {
    text-decoration: none;
    color: #9B8D5F;
    border: 1px solid #9B8D5F;
    border-radius: 4px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    max-width: 8vw;
    font-size: 0.9rem;
    margin-top: 2vh;
    text-align: center;
}

.p1 {
    font-family: "Old Standard TT";
    font-size: 2rem;
    margin: 0;
    font-weight: lighter;
}

.p2 {
    font-family: "Old Standard TT";
    font-size: 1.7rem;
    margin: 0;
}

.p3 {
    font-family: "Old Standard TT";
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 0;
    word-spacing: 0.1em;
}

.p4 {
    font-family: "Old Standard TT";
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 0;
}

.p5 {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 0.8rem;
    margin: 0;
    word-spacing: 0.1em;
    margin-top: 1vh;
}

hr {
    width: 5vw;
    margin: 0;
    padding: 0;
    color: #9B8D5F;
}

.page-1 {
    display: flex;
    background-image: url("/images/homepage/home_img_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.page-1 img {
    height: 20vw;
    width: 20vh;
}

.page-2 {
    background-color: #EBE3D7;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sub-title .p2 {
    color: #9B8D5F;
}

.sub-title.p3 {
    font-size: 2em;
    font-weight: lighter;
}

.sub-title {
    padding-top: 4vw;
    text-align: center;
    padding-bottom: 4vw;
}

.sub-title>* {
    margin: 0;
}

.page-3 {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-4 {
    background-color: #EBE3D7;
}

.page-5 {
    background-color: white
}

.page-6 {
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: #F8F6F2;
}

.page-6 .p3 {
    font-family: "Roboto";
    font-weight: light;
    font-size: 1em;
}

.page-6 .p6-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.page-6 .content-box {
    gap: 2vw;
}

.page-6 hr {
    width: 8vw;
    gap: 0;
}

.mini-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 20vw;
    height: 75vh;
    font-family: "Roboto";
    font-weight: lighter;
    margin: 0vh;
    padding: 0;
}

.mini-box img {
    width: 20vw;
    height: 25vw;
    margin: 0;
}

.mini-box .h5 {
    font-size: 1em;
    margin-top: 2vh;
    padding: 0;
}

.mini-box .h6 {
    margin: 0;
    font-size: 0.7em;
}

.ft-box {
    width: 100vw;
    height: 50vh;
    margin: 0;
    padding: 0;
    background-color: #EBE3D7;
    gap: 2vw;
}

.inforbox {
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: start;
    justify-content: center;
    justify-items: center;
}

.inforbox .h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    padding-top: 3vh;
    text-align: start;
    padding-bottom: 2vh;
    font-size: 1.1rem;
}

.inforbox .h4 {
    margin: 0;
    padding-top: 2vh;
    text-align: start;
    justify-content: center;
    font-family: "Roboto";
    font-weight: lighter;
    font-size: 0.8rem;
}