* {
    margin: 0; 
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
h1 {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 134px;
}
h2 {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
}
.language-selection {
    text-align: right;
    font-size: 1em;
    display: block;
}
nav.top-page {
    text-align: center;
    text-decoration: none;
    background-image: url("../images/homepage/home_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    background-color: #EBE3D7;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
}

.language-style {
    background: transparent;
    border: 0;
}
.spacing__room {
    height: 80px;
}
.room {
    display: flex;
    gap: 35px;
    width: 995px;
    height: 220px;
}
.room__image > img {
    height: 220px;
    width: 330px;
}
.room__detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.room__detail__booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room__detail__booking__price {
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: end;
}
.room__detail__booking__price > p {
    font-family: "Old Standard TT", serif;
    font-size: 32px;
}
.room__detail__booking__price > button {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    width: 183px;
    height: 50px;
    text-align: center;
    border: 1px solid #212322;
    background: transparent;
}
.phase ul {
    color: black;
    list-style: none;
    font-size: 20px;
    text-decoration: underline;
    display: flex;
    background-color: #FAF8F5;
    justify-content: space-between;
    flex-direction: row;
    height: 50px;
    align-items: center;
    padding: 0 100px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.room-type {
    font-weight: bold;
    font-size: 2em;
}

/*font family*/
.old-standard-tt {
  font-family: "Old Standard TT", serif;
  font-weight: normal;
  font-style: normal;
}

.roboto-standard {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}